<div id="home" class="container">
    <br/>
    <div class= "ui">
        <h3>Boter Kaas en Ayran</h3>
        <button class="player">1v1 me bro</button>
        <button class="reset">reset game</button>
    </div>
    <br/>
    <div class="playfield">
        {% for i in range(0, 3) %}
            {% for j in range(0, 3) %}
                <div class="block helper col-xs-4 blocks" data-row= {{ i }} data-column= {{ j }}></div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<br/>
